
/* variables */
:root {
  --bg-body: #f1f4f7;
  --text-primary-saturated: #225cff;
  --text-primary-saturated-hover: #0b39bc;
  --text-accent-saturated: #46576e;
  --text-accent-saturated--dark: #2f435d;
  --text-secondary-inefficient: #90a1b8;
  --text-secondary-inefficient--light: #f8f9fb;
  --text-accent-inefficient: #eaeaea;
}

/* base */
body {
  font-family: 'Avenir Next', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  color: #000000;
  background: var(--bg-body);
  min-height: 100%;
  -webkit-overflow-scrolling: touch;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box
}
a {
  color: inherit;
  text-decoration: none;
  outline: none;
}
ul {
  list-style-type: none;
}
ul, li {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
button {
  padding: 0;
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  color: inherit;
  cursor: pointer;
}
button:-moz-focusring {
  outline: none;
}
img {
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
input,
select {
  outline: none;
}

/* containers */
.container {
  position: relative;
  width: 1040px;
  padding: 0 20px;
  margin: 0 auto;
}
.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  overflow-y: auto;
}
.main-wrapper.is-blured {
  -webkit-filter: blur(6px);
          filter: blur(6px);
}

.btn {
  display: inline-block;
  padding: 9px 18px 8px;
  border-radius: 3px;
  background-color: var(--text-primary-saturated);
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
.btn:hover {
  background-color: var(--text-primary-saturated-hover);
}

/* header */
.header  {
  padding: 30px 0;
}
.header .inline-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .main-logo {
  margin-right: 110px;
}

/* main-logo */
.main-logo {
  position: relative;
  display: inline-block;
  font-size: 0;
}
.main-logo__icon,
.main-logo__text {
  display: inline-block;
  vertical-align: middle;
}
.main-logo__icon {
  position: relative;
  width: 33px;
  margin-right: -33px;
  font-size: 35px;
  color: var(--text-primary-saturated);
  z-index: 1;
}
.main-logo__text {
  padding-left: 45px;
  font-size: 24px;
  font-weight: 600;
  color: var(--text-accent-saturated);
}

/* dropdown */
.dropdown {
  position: relative;
}
.dropdown__toggle {
  font-size: 0;
}
.dropdown__toggle.is-active {
  color: var(--text-primary-saturated);
}
.dropdown__toggle-text,
.dropdown__toggle-icon  {
  display: inline-block;
  vertical-align: middle;
}
.dropdown__toggle-text {
  padding-right: 17px;
  font-size: 14px;
}
.dropdown__toggle-icon {
  width: 9px;
  margin-left: -9px;
  margin-top: -2px;
  font-size: 5px;
}
.dropdown__menu {
  position: absolute;
  top: 100%;
  min-width: 167px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .09);
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .09);
  overflow: hidden;
  z-index: 1;
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}
.dropdown__menu-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: var(--text-accent-saturated);
  -webkit-transition: background .2s linear;
  -o-transition: background .2s linear;
  transition: background .2s linear;
}
.dropdown__menu-item:hover {
  color: var(--text-primary-saturated);
}
.dropdown__menu-link {
  padding: 10px 32px;
  display: block;
  cursor: pointer;
}
.dropdown__menu-item:first-child .dropdown__menu-link {
  padding-top: 16px;
}
.dropdown__menu-item:last-child .dropdown__menu-link {
  padding-bottom: 16px;
}
.dropdown.is-open .dropdown__menu {
  visibility: visible;
  opacity: 1;
}

/* main-nav */
.main-nav {
  font-size: 0;
  margin: 0 -20px;
}
.main-nav__item {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
}
.main-nav__link {
  display: inline-block;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-secondary-inefficient);
  text-transform: uppercase;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
.main-nav__link:hover {
  color: var(--text-primary-saturated);
}
.main-nav__item.is-active .main-nav__link {
  font-weight: bold;
  color: var(--text-primary-saturated);
}
.main-nav__item .dropdown__menu {
  left: 10px;
}

/* search btn */
.search-btn {
  padding: 10px;
  margin: -10px;
  font-size: 18px;
  color: var(--text-secondary-inefficient);
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
.search-btn:hover {
  color: var(--text-primary-saturated);
}

/* factoids list */
.factoids-list {
  font-size: 0;
  margin: 0 -6px;
}
.factoids-list__item {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  padding: 0 6px;
}

/* factoid */
.factoid {
  display: block;
  padding: 8px 12px 20px;
  border-radius: 3px;
  background-color: #ffffff;
}
.factoid__title {
  margin-bottom: 12px;
  font-size: 0;
  text-transform: uppercase;
}
.factoid__title-circle,
.factoid__title-text {
  display: inline-block;
  vertical-align: top;
}
.factoid__title-circle {
  position: relative;
  border-radius: 50%;
  width: 8px;
  margin-right: -8px;
  margin-top: 4px;
  height: 8px;
  background-color: var(--text-secondary-inefficient);
  z-index: 1;
}
.factoid__title-text {
  width: 100%;
  padding-left: 12px;
  font-size: 12px;
  line-height: 1.35;
  font-weight: bold;
  color: var(--text-secondary-inefficient);
}
.factoid__text {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
  color: var(--text-accent-saturated);
  text-align: center;
}

/* form */
.form {
  margin: 30px 0;
  border-radius: 3px;
  background-color: #ffffff;
}
.form label {
  display: block;
  margin-bottom: 4px;
  font-size: 13px;
  font-weight: 500;
  color: var(--text-accent-saturated);
}
.form input::-webkit-input-placeholder {
  color: var(--text-secondary-inefficient);
}
.form select,
.form input {
  width: 100%;
  padding: 11px 15px;
  border: solid 1px var(--text-accent-inefficient);
  background: transparent;
  border-radius: 3px;
  font-size: 14px;
  line-height: 1.43;
  color: var(--text-accent-saturated);
}
.form select {
  font-weight: 500;
  -moz-appearance:none;
  -webkit-appearance:none;
}
.form__group:not(:last-child) {
  margin-bottom: 12px;
}
.form__btn {
  margin-top: 32px;
  text-align: center;
}

/* select */
.select {
  position: relative;
}
.select select {
  padding-right: 30px;
}
.select__icon {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -3px;
  font-size: 6px;
  color: var(--text-secondary-inefficient)
}

/* search form */
.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px 10px 17px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .02);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .02);
}
.search-form input {
  border: 0;
  padding: 7px 15px;
}
.search-form__icon {
  font-size: 18px;
  color: var(--text-secondary-inefficient);
}

/* recent transactions */
.table-wrapper {
  background-color: #fff;
  margin: 15px 0;
}
.table-wrapper__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 10px 0;
}
.recent-transactions__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}
.table-wrapper__title {
  color: var(--text-secondary-inefficient);
  font-size: 16px;
  font-weight: 600;
}
.table-wrapper__title i {
  display: inline-block;
  margin: -2px 11px 0 0;
  vertical-align: middle;
}
.btn--secondary {
  background-color: var(--text-secondary-inefficient);
}
.btn--large {
  padding: 15px 28px;
  font-size: 13px;
}

/* table blocks */
.table-blocks {
  display: table;
  width: 100%;
  font-size: 12px;
  border-spacing: 0 15px;
  color: var(--text-accent-saturated--dark);
  background-color: #ffffff;
}
.table-blocks__title {}
.table-blocks__title-icon,
.table-blocks__title-text {
  display: inline-block;
  vertical-align: middle;
}
.table-blocks__title-icon {
  font-size: 19px;
}
.table-blocks__title-text {
  font-size: 16px;
  font-weight: bold;
  color: var(--text-secondary-inefficient);
}
.table-blocks__tr {
  display: table-row;
}
.table-blocks__tr:hover {
  background-color: var(--text-secondary-inefficient--light)
}
.table-blocks__th {
  display: table-cell;
  padding: 9px 12px;
  color: var(--text-secondary-inefficient);
}
.table-blocks__td {
  display: table-cell;
  padding: 9px 12px;
}
.table-blocks__td .icon-cube {
  color: var(--text-secondary-inefficient);
  margin: 0 5px -1px 0;
  font-size: 16px;
  display: inline-block;
  vertical-align: bottom;
}
.table-blocks__td--bold {
  font-weight: bold;
  color: var(--text-accent-saturated);
}
.table-blocks__th--small {
  width: 80px;
}
.table-blocks__th--large {
  width: 350px;
}
.table-blocks__url {
  color: var(--text-primary-saturated);
  font-weight: 500;
  text-decoration: underline;
}
.hash-box {
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  text-align: center;
  border: 1px solid var(--text-secondary-inefficient);
  border-radius: 3px;
  padding: 6px 9px;
}
/* accounts*/
.accounts.table-wrapper {
  margin-top: 0;
}
.accounts .table-blocks__td {
  padding: 12px;
}
/* pagination */
.pagination {
  margin-bottom: 15px;
}
.pagination__pages,
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.pagination__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 10px;
  font-size: 12px;
  color: var(--text-secondary-inefficient);
  font-weight: bold;
}
.pagination__devider {
  margin: 0 5px;
}
/* account */
.account .mb25 {
  margin-bottom: 25px;
}
.account .mb10 {
  margin-bottom: 10px;
}
.account .border-spacing-null {
  border-spacing: 0;
}
.account.table-wrapper {
  margin-top: 0;
}
.account .table-blocks__td {
  padding: 12px;
}
/* footer */
.footer {
  margin: 25px 0;
}
.copyright {
  color: var(--text-secondary-inefficient);
  font-size: 16px;
}
.copyright__top {
  font-weight: 500;
  margin-bottom: 5px;
}
.copyright__content {
  font-size: 14px;
  margin-bottom: 5px;
}
.copyright__footer {
  font-size: 14px;
  font-weight: 500;
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  font-size: 0;
  z-index: 100;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
.modal.is-open {
  opacity: 1;
  visibility: visible;
}
.modal:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.modal__backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-filter: blur(6px);
          filter: blur(6px);
  background-color: rgba(211, 211, 211, 0.61);
}
.modal__container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 370px;
  width: 100%;
  padding: 70px 50px;
  border-radius: 4px;
  background-color: #ffffff;
  color: var(--text-accent-saturated);
  text-align: left;
  font-size: 14px;
  z-index: 1;
}
.modal__container--wide {
  max-width: 567px;
}
.modal__title {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  display: inline-block;
  padding: 10px;
  font-size: 36px;
  line-height: .4;
  color: var(--text-secondary-inefficient);
  cursor: pointer;
}
.modal__info {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  color: #46576e;
}
.modal__info-title {
  margin-bottom: 6px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.25;
  color: var(--text-secondary-inefficient);
}
.modal .u-small {
  font-size: 12px;
  font-weight: 500;
  line-height: 2.5;
}
.modal__info-row:not(:last-child) {
  margin-bottom: 16px;
}
.modal__info-table {
  display: table;
  width: 100%;
  padding: 24px 0;
}
.modal__info-table-row {
  display: table-row;
}
.modal__info-table-td {
  display: table-cell;
  padding: 8px 20px;
}
.modal__info-table-td:first-child {
  padding-left: 0;
}
.modal__info-table-td:last-child {
  padding-right: 0;
}
.modal__btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
}
