<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <title>ESS Explorer</title>

  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/fonts.css">
  <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
  <div class="main-wrapper">
    <div>
      <header class="header">
        <div class="container inline-container">
          <div class="inline-container">
            <a href="/" class="main-logo">
              <span class="main-logo__icon icon-ess-logo"></span>
              <span class="main-logo__text">ESS Explorer</span>
            </a>
            <ul class="main-nav">
              <li class="main-nav__item is-active">
                <a href="#"
                  class="main-nav__link">
                  Home
                </a>
              </li>
              <li class="main-nav__item">
                <a href="#"
                  class="main-nav__link">
                  Accounts
                </a>
              </li>
              <li class="main-nav__item">
                <a href="#"
                  class="main-nav__link">
                  Pending Tx
                </a>
              </li>
              <li class="main-nav__item">
                <div class="dropdown">
                  <button class="dropdown__toggle main-nav__link">
                    <span class="dropdown__toggle-text">Tools</span>
                    <span class="dropdown__toggle-icon icon-chevron-down"></span>
                  </button>
                  <div class="dropdown__menu">
                    <ul>
                      <li class="dropdown__menu-item">
                        <div
                          class="dropdown__menu-link"
                          data-modal="sumit-raw-transaction-modal">
                          Submit Tx
                        </div>
                      </li>
                      <li class="dropdown__menu-item">
                        <div
                          class="dropdown__menu-link"
                          data-modal="verify-contract-source-modal">
                          Verify Contract
                        </div>
                      </li>
                      <li class="dropdown__menu-item">
                        <div
                          class="dropdown__menu-link"
                          data-modal="verify-signatures-modal">
                          Verify Signature
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <button class="search-btn icon-search"></button>
        </div>
      </header>
      <main>
        <div class="container">
          <div class="accounts table-wrapper">
            <div class="table-wrapper__top">
              <div class="table-wrapper__title">
                ACCOUNTS
              </div>
            </div>
            <div class="table-blocks">
              <div class="table-blocks__tr">
                <div class="table-blocks__th">Address</div>
                <div class="table-blocks__th table-blocks__th--small">Type</div>
                <div class="table-blocks__th table-blocks__th--small">Balance</div>
              </div>
              <div class="table-blocks__tr">
                <div class="table-blocks__td"><a class="table-blocks__url" href="#">0xea674fdde714fd979de3edf0f56aa9716b898ec8</a> </div>
                <div class="table-blocks__td">Account</div>
                <div class="table-blocks__td">1e-9 ETH</div>
              </div>
              <div class="table-blocks__tr">
                <div class="table-blocks__td"><a class="table-blocks__url" href="#">0xea674fdde714fd979de3edf0f56aa9716b898ec8</a> </div>
                <div class="table-blocks__td">Account</div>
                <div class="table-blocks__td">1e-9 ETH</div>
              </div>
              <div class="table-blocks__tr">
                <div class="table-blocks__td"><a class="table-blocks__url" href="#">0xea674fdde714fd979de3edf0f56aa9716b898ec8</a> </div>
                <div class="table-blocks__td">Account</div>
                <div class="table-blocks__td">1e-9 ETH</div>
              </div>
              <div class="table-blocks__tr">
                <div class="table-blocks__td"><a class="table-blocks__url" href="#">0xea674fdde714fd979de3edf0f56aa9716b898ec8</a> </div>
                <div class="table-blocks__td">Account</div>
                <div class="table-blocks__td">1e-9 ETH</div>
              </div>
              <div class="table-blocks__tr">
                <div class="table-blocks__td"><a class="table-blocks__url" href="#">0xea674fdde714fd979de3edf0f56aa9716b898ec8</a> </div>
                <div class="table-blocks__td">Account</div>
                <div class="table-blocks__td">1e-9 ETH</div>
              </div>
              <div class="table-blocks__tr">
                <div class="table-blocks__td"><a class="table-blocks__url" href="#">0xea674fdde714fd979de3edf0f56aa9716b898ec8</a> </div>
                <div class="table-blocks__td">Account</div>
                <div class="table-blocks__td">1e-9 ETH</div>
              </div>
              <div class="table-blocks__tr">
                <div class="table-blocks__td"><a class="table-blocks__url" href="#">0xea674fdde714fd979de3edf0f56aa9716b898ec8</a> </div>
                <div class="table-blocks__td">Account</div>
                <div class="table-blocks__td">1e-9 ETH</div>
              </div>
            </div>
          </div>
          <div class="pagination">
              <button class="btn btn--secondary pagination__prev">Prev</button>
              <div class="pagination__pages">
                <div class="pagination__current-page">1</div>
                <div class="pagination__devider">of</div>
                <div class="pagination__all-pages">200</div>
              </div>
              <button class="btn btn--secondary pagination__next">Next</button>
            </div>
        </div>
      </main>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="copyright">
          <div class="copyright__top">ESS Explorer 0.91.6</div>
          <div class="copyright__content">Parity//v1.8.2-beta-1b6588c-20171025/x86_64-linux-gnu/rustc1.21.0</div>
          <div class="copyright__footer">16 seeds</div>
        </div>
      </div>
    </footer>
  </div>

  <script src="scripts/common.min.js"></script>
</body>
</html>
