<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <title>ESS Explorer</title>

  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/fonts.css">
  <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
  <div class="main-wrapper">
    <div>
      <header class="header">
        <div class="container inline-container">
          <div class="inline-container">
            <a href="/" class="main-logo">
              <span class="main-logo__icon icon-ess-logo"></span>
              <span class="main-logo__text">ESS Explorer</span>
            </a>
            <ul class="main-nav">
              <li class="main-nav__item is-active">
                <a href="#"
                  class="main-nav__link">
                  Home
                </a>
              </li>
              <li class="main-nav__item">
                <a href="#"
                  class="main-nav__link">
                  Accounts
                </a>
              </li>
              <li class="main-nav__item">
                <a href="#"
                  class="main-nav__link">
                  Pending Tx
                </a>
              </li>
              <li class="main-nav__item">
                <div class="dropdown">
                  <button class="dropdown__toggle main-nav__link">
                    <span class="dropdown__toggle-text">Tools</span>
                    <span class="dropdown__toggle-icon icon-chevron-down"></span>
                  </button>
                  <div class="dropdown__menu">
                    <ul>
                      <li class="dropdown__menu-item">
                        <div
                          class="dropdown__menu-link"
                          data-modal="sumit-raw-transaction-modal">
                          Submit Tx
                        </div>
                      </li>
                      <li class="dropdown__menu-item">
                        <div
                          class="dropdown__menu-link"
                          data-modal="verify-contract-source-modal">
                          Verify Contract
                        </div>
                      </li>
                      <li class="dropdown__menu-item">
                        <div
                          class="dropdown__menu-link"
                          data-modal="verify-signatures-modal">
                          Verify Signature
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <button class="search-btn icon-search"></button>
        </div>
      </header>
      <main>
        <div class="container">
          <div class="account table-wrapper">
            <div class="table-wrapper__top mb25">
              <div class="table-wrapper__title">
                ACCOUNT
              </div>
            </div>
            <div class="table-blocks border-spacing-null mb10">
              <div class="table-blocks__tr">
                <div class="table-blocks__th table-blocks__th--large">Address</div>
                <div class="table-blocks__th">Balance</div>
              </div>
              <div class="table-blocks__tr">
                <div class="table-blocks__td table-blocks__td--bold">0xea674fdde714fd979de3edf0f56aa9716b898ec8</div>
                <div class="table-blocks__td table-blocks__td--bold">1e-9 ETH</div>
              </div>
            </div>
            <div class="table-wrapper__top">
              <div class="table-wrapper__title">
                RECENT ACTIVITY
              </div>
            </div>
            <div class="table-blocks">
              <div class="table-blocks__tr">
                <div class="table-blocks__th">Hash</div>
                <div class="table-blocks__th">Block#</div>
                <div class="table-blocks__th">From</div>
                <div class="table-blocks__th">To</div>
                <div class="table-blocks__th">Amount</div>
              </div>
              <div class="table-blocks__tr">
                <div class="table-blocks__td"><span class="hash-box">0xba5adfb01dfsfs…</span></div>
                <div class="table-blocks__td">176038</div>
                <div class="table-blocks__td">0xea674fdde714fd979de3edf0f56aa9716b898ec8</div>
                <div class="table-blocks__td">0xea674fdde714fd979de3edf0f56aa9716b898ec8</div>
                <div class="table-blocks__td">0.02176375757047623</div>
              </div>
              <div class="table-blocks__tr">
                <div class="table-blocks__td"><span class="hash-box">0xba5adfb01dfsfs…</span></div>
                <div class="table-blocks__td">176038</div>
                <div class="table-blocks__td">0xea674fdde714fd979de3edf0f56aa9716b898ec8</div>
                <div class="table-blocks__td">0xea674fdde714fd979de3edf0f56aa9716b898ec8</div>
                <div class="table-blocks__td">0.02176375757047623</div>
              </div>
              <div class="table-blocks__tr">
                <div class="table-blocks__td"><span class="hash-box">0xba5adfb01dfsfs…</span></div>
                <div class="table-blocks__td">176038</div>
                <div class="table-blocks__td">0xea674fdde714fd979de3edf0f56aa9716b898ec8</div>
                <div class="table-blocks__td">0xea674fdde714fd979de3edf0f56aa9716b898ec8</div>
                <div class="table-blocks__td">0.02176375757047623</div>
              </div>
              <div class="table-blocks__tr">
                <div class="table-blocks__td"><span class="hash-box">0xba5adfb01dfsfs…</span></div>
                <div class="table-blocks__td">176038</div>
                <div class="table-blocks__td">0xea674fdde714fd979de3edf0f56aa9716b898ec8</div>
                <div class="table-blocks__td">0xea674fdde714fd979de3edf0f56aa9716b898ec8</div>
                <div class="table-blocks__td">0.02176375757047623</div>
              </div>
              <div class="table-blocks__tr">
                <div class="table-blocks__td"><span class="hash-box">0xba5adfb01dfsfs…</span></div>
                <div class="table-blocks__td">176038</div>
                <div class="table-blocks__td">0xea674fdde714fd979de3edf0f56aa9716b898ec8</div>
                <div class="table-blocks__td">0xea674fdde714fd979de3edf0f56aa9716b898ec8</div>
                <div class="table-blocks__td">0.02176375757047623</div>
              </div>
              <div class="table-blocks__tr">
                <div class="table-blocks__td"><span class="hash-box">0xba5adfb01dfsfs…</span></div>
                <div class="table-blocks__td">176038</div>
                <div class="table-blocks__td">0xea674fdde714fd979de3edf0f56aa9716b898ec8</div>
                <div class="table-blocks__td">0xea674fdde714fd979de3edf0f56aa9716b898ec8</div>
                <div class="table-blocks__td">0.02176375757047623</div>
              </div>
            </div>
          </div>
          <div class="pagination">
            <button class="btn btn--secondary pagination__prev">Prev</button>
            <div class="pagination__pages">
              <div class="pagination__current-page">1</div>
              <div class="pagination__devider">of</div>
              <div class="pagination__all-pages">200</div>
            </div>
            <button class="btn btn--secondary pagination__next">Next</button>
          </div>
        </div>
      </main>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="copyright">
          <div class="copyright__top">ESS Explorer 0.91.6</div>
          <div class="copyright__content">Parity//v1.8.2-beta-1b6588c-20171025/x86_64-linux-gnu/rustc1.21.0</div>
          <div class="copyright__footer">16 seeds</div>
        </div>
      </div>
    </footer>
  </div>

  <!-- modals -->
  <div class="modal" id="verify-contract-source-modal">
    <div class="modal__backdrop"></div>
    <div class="modal__container">
      <div class="modal__close">&times;</div>
      <div class="modal__title">Verify Contract Source</div>
      <form class="form">
        <div class="form__group">
          <label for="verify-contract-source-ess-address">ESS Address</label>
          <input type="text" id="verify-contract-source-ess-address">
        </div>
        <div class="form__group">
          <label for="verify-contract-source-contract-name">Contract Name</label>
          <input type="text" id="verify-contract-source-contract-name">
        </div>
        <div class="form__group">
          <label for="verify-contract-source-contract-source">Contract Source</label>
          <input type="text" id="verify-contract-source-contract-source">
        </div>
        <div class="form__group">
          <label for="verify-contract-source-compiler-version">Compiler Version</label>
          <div class="select">
            <span class="select__icon icon-chevron-down"></span>
            <select id="verify-contract-source-compiler-version">
              <option value="verifyCompilerVersion1">
                solijson-v0.4.20-nighty.2018.1.29
              </option>
              <option value="verifyCompilerVersion2">
                solijson-v0.4.20-nighty.2018.1.29
              </option>
              <option value="verifyCompilerVersion3">
                solijson-v0.4.20-nighty.2018.1.29
              </option>
            </select>
          </div>
        </div>
        <div class="form__btn">
          <button class="btn btn--large">VERIFY</button>
        </div>
      </form>
    </div>
  </div>
  <div class="modal" id="verify-signatures-modal">
    <div class="modal__backdrop"></div>
    <div class="modal__container">
      <div class="modal__close">&times;</div>
      <div class="modal__title">Verify ESS Signatures</div>
      <form class="form">
        <div class="form__group">
          <label for="verify-signatures-ess-address">ESS Address</label>
          <input type="text" id="verify-signatures-ess-address">
        </div>
        <div class="form__group">
          <label for="verify-signatures-message">Message</label>
          <input type="text" id="verify-signatures-message">
        </div>
        <div class="form__group">
          <label for="verify-signatures-signature">Signature</label>
          <input type="text" id="verify-signatures-signature">
        </div>
        <div class="form__btn">
          <button class="btn btn--large">VERIFY</button>
        </div>
      </form>
    </div>
  </div>
  <div class="modal" id="sumit-raw-transaction-modal">
    <div class="modal__backdrop"></div>
    <div class="modal__container">
      <div class="modal__close">&times;</div>
      <div class="modal__title">Sumit Raw Transaction</div>
      <form class="form">
        <div class="form__group">
          <label for="sumit-raw-transaction-signed-hex">Signed Transaction Hex</label>
          <input type="text" id="sumit-raw-transaction-signed-hex">
        </div>
        <div class="form__btn">
          <button class="btn btn--large">VERIFY</button>
        </div>
      </form>
    </div>
  </div>
  <div class="modal" id="block-view-modal">
    <div class="modal__backdrop"></div>
    <div class="modal__container modal__container--wide">
      <div class="modal__close">&times;</div>
      <div class="modal__title">Block 13996</div>
      <div class="modal__info">
        <div>
          <div class="modal__info-row">
            <div class="modal__info-title">Hash</div>
            <div>1F1tAaz5x1HUXrCNLbtMDqcw6o5G1F1tAaz5x1HUXrCNLbtMDqcw</div>
          </div>
          <div class="modal__info-row">
            <div class="modal__info-title">Parent hash</div>
            <div>1F1tAaz5x1HUXrCNLbtMDqcw6o5G1F1tAaz5x1HUXrCNLbtMDqcw</div>
          </div>
          <div class="modal__info-row">
            <div class="modal__info-title">Miner</div>
            <div>1F1tAaz5x1HUXrCNLbtMDqcw6o5G1F1tAaz5x1HUXrCNLbtMDqcw</div>
          </div>
        </div>
        <div class="modal__info-table">
          <div class="modal__info-table-row">
            <div class="modal__info-table-td">
              <div class="modal__info-title">Gas Limit</div>
              <div>8,000,000</div>
            </div>
            <div class="modal__info-table-td">
              <div class="modal__info-title">Difficulty</div>
              <div>8,000,000</div>
            </div>
            <div class="modal__info-table-td">
              <div class="modal__info-title">Size</div>
              <div>536</div>
            </div>
            <div class="modal__info-table-td">
              <div class="modal__info-title">Uncles</div>
              <div>536</div>
            </div>
          </div>
          <div class="modal__info-table-row">
            <div class="modal__info-table-td">
              <div class="modal__info-title">Gas Used</div>
              <div>0</div>
            </div>
            <div class="modal__info-table-td">
              <div class="modal__info-title">Total Difficulty</div>
              <div>33,081,694,225</div>
            </div>
            <div class="modal__info-table-td">
              <div class="modal__info-title">Transactions</div>
              <div>0</div>
            </div>
          </div>
        </div>
        <div>
          <div class="modal__info-row">
            <div class="modal__info-title">Timestamp</div>
            <div>2018-10-01T17:06:10+03:00 (2 hours ago)</div>
          </div>
        </div>
        <div class="modal__btn-group">
          <button class="btn btn--secondary">PREVIOUS</button>
          <button class="btn btn--secondary">NEXT</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="block-transaction-modal">
    <div class="modal__backdrop"></div>
    <div class="modal__container modal__container--wide">
      <div class="modal__close">&times;</div>
      <div class="modal__title">
        Transaction
        <div class="u-small">
          0x971c77a385b8f99e03dae804809550b944eee5a3de9003b334a2c339028c6819
        </div>
      </div>
      <div class="modal__info">
        <div>
          <div class="modal__info-row">
            <div class="modal__info-title">Hash</div>
            <div>1F1tAaz5x1HUXrCNLbtMDqcw6o5G1F1tAaz5x1HUXrCNLbtMDqcw</div>
          </div>
          <div class="modal__info-row">
            <div class="modal__info-title">Block hash</div>
            <div>1F1tAaz5x1HUXrCNLbtMDqcw6o5G1F1tAaz5x1HUXrCNLbtMDqcw</div>
          </div>
          <div class="modal__info-row">
            <div class="modal__info-title">From</div>
            <div>1F1tAaz5x1HUXrCNLbtMDqcw6o5G1F1tAaz5x1HUXrCNLbtMDqcw</div>
          </div>
          <div class="modal__info-row">
            <div class="modal__info-title">To</div>
            <div>1F1tAaz5x1HUXrCNLbtMDqcw6o5G1F1tAaz5x1HUXrCNLbtMDqcw</div>
          </div>
        </div>
        <div class="modal__info-table">
          <div class="modal__info-table-row">
            <div class="modal__info-table-td">
              <div class="modal__info-title">Amount</div>
              <div>0.05 ETH</div>
            </div>
            <div class="modal__info-table-td">
              <div class="modal__info-title">Gas Limit</div>
              <div>90000</div>
            </div>
            <div class="modal__info-table-td">
              <div class="modal__info-title">Gas Price</div>
              <div>2e- 8 ETH</div>
            </div>
            <div class="modal__info-table-td">
              <div class="modal__info-title">Block Number</div>
              <div>48188</div>
            </div>
          </div>
          <div class="modal__info-table-row">
            <div class="modal__info-table-td">
              <div class="modal__info-title">Nonce</div>
              <div>53</div>
            </div>
            <div class="modal__info-table-td">
              <div class="modal__info-title">Gas Used</div>
              <div>0</div>
            </div>
            <div class="modal__info-table-td">
              <div class="modal__info-title">Fee</div>
              <div>0 ETH</div>
            </div>
          </div>
        </div>
        <div>
          <div class="modal__info-row">
            <div class="modal__info-title">Data</div>
            <div>0x</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="scripts/common.min.js"></script>
</body>
</html>
