<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ESS Explorer</title>

  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/fonts.css">
  <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
  <header class="header">
    <div class="container inline-container">
      <div class="inline-container">
        <a href="/" class="main-logo">
          <span class="main-logo__icon icon-ess-logo"></span>
          <span class="main-logo__text">ESS Explorer</span>
        </a>
        <ul class="main-nav">
          <li class="main-nav__item is-active">
            <a href="#"
              class="main-nav__link">
              Home
            </a>
          </li>
          <li class="main-nav__item">
            <a href="#"
              class="main-nav__link">
              Accounts
            </a>
          </li>
          <li class="main-nav__item">
            <a href="#"
              class="main-nav__link">
              Pending Tx
            </a>
          </li>
          <li class="main-nav__item">
            <div class="dropdown">
              <button class="dropdown__toggle main-nav__link">
                <span class="dropdown__toggle-text">Tools</span>
                <span class="dropdown__toggle-icon icon-chevron-down"></span>
              </button>
              <div class="dropdown__menu">
                <ul>
                  <li class="dropdown__menu-item">
                    <a href="#"
                      class="dropdown__menu-link">
                      Submit Tx
                    </a>
                  </li>
                  <li class="dropdown__menu-item">
                    <a href="#"
                      class="dropdown__menu-link">
                      Verify Contract
                    </a>
                  </li>
                  <li class="dropdown__menu-item">
                    <a href="#"
                      class="dropdown__menu-link">
                      Verify Signature
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <button class="search-btn icon-search"></button>
    </div>
  </header>
  <main>
    <div class="container">
      <ul class="factoids-list">
        <li class="factoids-list__item">
          <div class="factoid">
            <div class="factoid__title">
              <span class="factoid__title-circle"
                    style="background-color: #225cff;"
              ></span>
              <span class="factoid__title-text">CURRENT BLOCK</span>
            </div>
            <div class="factoid__text">1760308</div>
          </div>
        </li>
        <li class="factoids-list__item">
          <div class="factoid">
          <div class="factoid__title">
            <span class="factoid__title-circle"
                  style="background-color: #d0021b;"
            ></span>
            <span class="factoid__title-text">GAS LIMIT(m/s)</span>
          </div>
          <div class="factoid__text">4,712,388</div>
        </div>
        </li>
        <li class="factoids-list__item">
          <div class="factoid">
          <div class="factoid__title">
            <span class="factoid__title-circle"
                  style="background-color: #f5a623;"
            ></span>
            <span class="factoid__title-text">BLOCK TIME</span>
          </div>
          <div class="factoid__text">25 sec</div>
        </div>
        </li>
        <li class="factoids-list__item">
          <div class="factoid">
          <div class="factoid__title">
            <span class="factoid__title-circle"
                  style="background-color: #90a1b8;"
            ></span>
            <span class="factoid__title-text">CURRENT DIFF (T)</span>
          </div>
          <div class="factoid__text">52.030</div>
        </div>

        </li>
        <li class="factoids-list__item">
          <div class="factoid">
            <div class="factoid__title">
              <span class="factoid__title-circle"
                    style="background-color: #46576e;"
              ></span>
              <span class="factoid__title-text">HASHRATE(TH/s)</span>
            </div>
            <div class="factoid__text">3.907</div>
          </div>
        </li>
      </ul>
      <form class="form search-form">
        <span class="search-form__icon icon-search"></span>
        <input type="text" placeholder="Tx Hash, Address, or Block#">
        <button class="btn">SEARCH</button>
      </form>
      <div class="recent-transactions">
        <div class="recent-transactions__top">
          <div class="recent-transactions__title">RECENT TRANSACTIONS</div>
          <button class="btn btn--secondary">View all</button>
        </div>
        <div class="recent-transactions__main">
          <div class="list-transactions">
            <div class="list-transactions__header list-transactions-header">
              <div class="list-transactions-header__cell-title first-cell">Hash</div>
              <div class="list-transactions-header__cell-title secondart-cell">Block#</div>
              <div class="list-transactions-header__cell-title">From</div>
              <div class="list-transactions-header__cell-title">To</div>
              <div class="list-transactions-header__cell-title">Amount</div>
            </div>
            <div class="list-transactions__main">
              <div class="list-transactions__item-row list-transactions-item-row">
                <div class="list-transactions-item-row__cell first-cell">0xba5adfb01dfsfs…</div>
                <div class="list-transactions-item-row__cell secondart-cell">176038</div>
                <div class="list-transactions-item-row__cell">0xea674fdde714fd979de3edf0f56aa9716b898ec8</div>
                <div class="list-transactions-item-row__cell">0xea674fdde714fd979de3edf0f56aa9716b898ec8 </div>
                <div class="list-transactions-item-row__cell">0.02176375757047623 ETH</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="scripts/common.js"></script>
</body>
</html>
